<div class="new-book-container container">

    <h1>Add new Book</h1>

    <form [formGroup]="addBookForm" autocomplete="off" novalidate (ngSubmit)="createNewBook()" fxLayout="column wrap"
    fxLayoutAlign="center center" fxLayoutGap="10px">
    
        <mat-form-field>
            <input matInput type="number" placeholder="Id Number" formControlName="id" id="id">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="text" placeholder="Serial Number" formControlName="serialNumber">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Book Name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Author Name" formControlName="authors">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Book Quantity" formControlName="bookQty">
        </mat-form-field> 

        <mat-form-field>
            <input matInput type="number" placeholder="Book Quantity Copy" formControlName="bookQtyCopy">
        </mat-form-field> 

        <mat-card-actions align="center">
            <button mat-raised-button color="primary" type="submit"> Add new book </button>
        </mat-card-actions>
    </form>

    <a mat-button color="primary" [routerLink]="['/book-list']" class='back-button'>Go Back</a>

</div>


    
    