.book-list-container{

    table {
        width: 100%;
        background: $secondary-color;
        padding: 10px 20px 26px;
        box-shadow: 0 0 9px 2px #00000030;
        border-radius: 8px;

        span{
            padding-left: 3px;
        }

        .sort-button{
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            color: white;
            background: #673ab7;
            margin-left: 5px;
            font-weight: 500;
            font-family: inherit;
        }
    }

    .book-list-navigation{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .mat-mini-fab{
        transform: scale(0.6);
        font-size: 24px;
    }
}