<div class='landing-page container'>
    <h1>Welcome to Library</h1>

    <div class="landing-page__navigation">
        <button mat-flat-button color="primary" [routerLink]="['/book-list']">Book List</button>
        <button mat-flat-button color="primary" [routerLink]="['/add-new-book']"> Add New Book</button>
    </div>
    
</div>



