<div class='book-list-container container'>

    <h1>Book list</h1>

    <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="serialNumber">
            <th mat-header-cell *matHeaderCellDef> Serial Number </th>
            <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>       
        </ng-container>

        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="authors"> Authors </th>
            <td mat-cell *matCellDef="let element"> {{element.authors}} </td>
        </ng-container>

        <ng-container matColumnDef="bookQty">
            <th mat-header-cell *matHeaderCellDef> Book Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.bookQty}} </td>
        </ng-container>

        <ng-container matColumnDef="bookQtyCopy">
            <th mat-header-cell *matHeaderCellDef> Book Quantity Copy </th>
            <td mat-cell *matCellDef="let element"> {{element.bookQtyCopy}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab color="warn" (click)="removeBook(element)">x</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    
    <div class="book-list-navigation">
        <a class='button-add-book' mat-raised-button color="primary" [routerLink]="['/add-new-book']">Add new Book</a>
        <a mat-button color="primary" [routerLink]="['/landing']" class='back-button'>Go Back</a>
    </div>

</div>




